<div class="section-container">
  <div class="terminal-header">
    <span class="prompt">$</span> cat <span class="filename">./about_me.txt</span>
  </div>
  <section class="about-section">
    <div class="about-content">
      <div class="profile-image">
        <img src="{{ site.data.about.profile_image }}" alt="Wil Gibbs Profile Picture">
      </div>
      <div class="about-text">
        {% for section in site.data.about.sections %}
          <p>{{ section.content | strip_newlines | markdownify }}</p>
        {% endfor %}
      </div>
    </div>
  </section>
</div> 