<div class="section-container">
  <div class="terminal-header">
    <span class="prompt">$</span> cat <span class="filename">./about_me.txt</span>
  </div>
  <section class="about-section">
    <div class="about-content">
      <div class="profile-image">
        <img src="./images/pfp_cropped.jpg" alt="Wil Gibbs Profile Picture">
      </div>
      <div class="about-text">
        <p>Hi!</p>
        <p>I'm <strong>Wil Gibbs</strong> - a Ph.D. student at Arizona State University (ASU) interested in Systems Security. I currently work at <a href="https://sefcom.asu.edu/">SEFCOM</a> under <a href="https://rev.fish/">Dr. Ruoyu (Fish) Wang</a> who is my primary advisor, but I also work closely with <a href="https://adamdoupe.com/">Dr. Adam Doupé</a>, <a href="https://yancomm.net/">Dr. Yan Shoshitaishvili</a>, and <a href="https://www.tiffanybao.com/">Dr. Tiffany Bao</a>. I have a strong interest in anything binary analysis related with most of my research focus on static analysis. I am the Co-Lead of the Shellphish founded <a href="https://aicyberchallenge.com/">AIxCC</a> team alongside Lukas Dresel where we won $2 Million from DARPA as finalists in the AIxCC competition with our Cyber Reasoning System (CRS) <a href="https://support.shellphish.net/">ARTIPHISHELL</a>.</p>
        <p>When I'm not doing Research, I am competing in ethical hacking competitions called CTFs! I am the captain of the internationally known CTF team <a href="https://shellphish.net/">Shellphish</a> which routinely competes in DEFCON CTF and am a proud Captain emeritus. I started the ASU based CTF team <em>pwndevils</em> which has transitioned into the <a href="http://asuhacking.club/">ASU Hacking Club</a> and pipelines talented hackers directly into Shellphish. I try my best at pwn and rev based challenges (with a sprinkle of web) under the handle <em>clasm</em> when competing.</p>
      </div>
    </div>
  </section>
</div> 