{%- assign page_paths = site.header_pages | default: default_paths -%}

<header>
  <div class="menu">
    <div class="directory-header">~/research/sefcom/clasm</div>
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><span class="powerline-arrow">»</span> <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      <li><span class="powerline-arrow">»</span> <a href="#publications">publications</a></li>
      <li><span class="powerline-arrow">»</span> <a href="#media">media</a></li>
      <li><span class="powerline-arrow">»</span> <a href="#awards">awards</a></li>
      <li><span class="powerline-arrow">»</span> <a href="#teaching">teaching</a></li>
    </ul>
  </div>
</header>
